<div class="mall-two-fields mall-two-fields--firstname-lastname">
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.first_name' | _ }}</label>
        <input type="text" name="payment_data[firstName]" value="{{ __SELF__.paymentData['firstName'] }}">
        <div data-validate-for="firstName"></div>
    </div>
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.last_name' | _ }}</label>
        <input type="text" name="payment_data[lastName]" value="{{ __SELF__.paymentData['lastName'] }}">
        <div data-validate-for="lastName"></div>
    </div>
</div>
<div class="mall-two-fields mall-two-fields--number-cvv">
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_number' | _ }}</label>
        <input type="text" name="payment_data[number]" value="{{ __SELF__.paymentData['number'] }}">
        <div data-validate-for="number"></div>
    </div>
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_cvv' | _ }}</label>
        <input type="text" name="payment_data[cvv]" value="{{ __SELF__.paymentData['cvv'] }}">
        <div data-validate-for="cvv"></div>
    </div>
</div>
<div class="mall-two-fields mall-two-fields--expiration">
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_expiry_month' | _ }}</label>
        <input type="text" name="payment_data[expiryMonth]" value="{{ __SELF__.paymentData['expiryMonth'] }}">
        <div data-validate-for="expiryMonth"></div>
    </div>
    <div class="mall-form-control">
        <label>{{ 'mall.payment_method.card_expiry_year' | _ }}</label>
        <input type="text" name="payment_data[expiryYear]" value="{{ __SELF__.paymentData['expiryYear'] }}">
        <div data-validate-for="expiryYear"></div>
    </div>
</div>

<div class="">
    <label class="mall-checkbox">
        <input class=""
               type="checkbox" name="payment_data[saveProfile]"
               value="1">
        <span>
            Save as profile
        </span>
    </label>
    <div data-validate-for="saveProfile"></div>
</div>
